SPOTIFY_CLIENT_ID=<YOUR_SPOTIFY_CLIENT_ID>
SPOTIFY_CLIENT_SECRET=<YOUR_SPOTIFY_CLIENT_SECRET>

SPOTIFY_ACCOUNTS_URL=https://accounts.spotify.com
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000 # The redirect URI you set in your Spotify app settings

SPOTIFY_SCOPE="user-library-read playlist-modify-public playlist-modify-private" # The required scopes for accessing user's library and modifying playlists
